<template>
	<q-page class="overflow-hidden-y">
		<q-drawer
			v-model="showDrawer"
			show-if-above
			side="left"
			bordered
			:breakpoint="1200"
		>
			<div
				class="column justify-start drawerLayout q-gutter-lg no-wrap"
				style="height: 100%"
			>
				<div
					v-show="$q.platform.is.desktop"
					class="column q-gutter-md items-center"
				>
					<span class="text-subtitle2 self-start">{{ $t('titleBar.subHeaderControllers') }}</span>

					<q-btn
						color="secondary"
						class="drawerButton"
						:disabled="sections.length == 0"
						:aria-label="$t('actions.play')"
						:icon="playing ? mdiStop : mdiPlay"
						size="md"
						@click="playing ? pause() : play()"
					/>

					<q-btn
						:color="repeat ? 'secondary' : 'white'"
						:text-color="repeat ? 'white' : 'black'"
						class="drawerButton"
						:aria-label="$t('actions.repeat')"
						:icon="mdiRepeat"
						@click="repeat = !repeat"
					/>
				</div>

				<div class="column q-gutter-md items-center">
					<span class="text-subtitle2 self-start">{{ $t('titleBar.subHeaderOptions') }}</span>

					<q-input
						v-model.number="bpmActual"
						class="drawerInput"
						color="accent"
						type="number"
						label="BPM"
						max="350"
						required
						:hint="$t('titleBar.bpmHint')"
						hide-hint
					/>

					<q-item
						tag="label"
					>
						<q-item-section>
							<q-item-label>{{ $t('titleBar.showNotes') }}</q-item-label>
						</q-item-section>
						<q-item-section avatar>
							<q-toggle
								v-model="showNotes"
							/>
						</q-item-section>
					</q-item>
					<!-- <q-select
						v-model="locale"
						class="drawerInput"
						:options="languages"
						option-label="text"
						option-value="locale"
						:label="$t('titleBar.localeLabel')"
						:display-value="$t(locale.text)"
					>
						<template v-slot:option="scope">
							<q-item
								v-bind="scope.itemProps"
								v-on="scope.itemEvents"
							>
								<q-item-section>
									<q-item-label>{{ $t(scope.opt.text) }}</q-item-label>
								</q-item-section>
							</q-item>
						</template>
					</q-select> -->
				</div>

				<div class="column q-gutter-md items-center">
					<span class="text-subtitle2 self-start">{{ $t('titleBar.subHeaderActions') }}</span>

					<q-btn
						flat
						class="drawerButton"
						:aria-label="$t('actions.section.add')"
						@click.prevent="addSection(false)"
					>
						{{ $t('actions.section.add') }}
					</q-btn>

					<q-btn
						flat
						class="drawerButton"
						:aria-label="$t('titleBar.clearNotes.actionButton')"
						@click="clearNotes"
					>
						{{ $t('titleBar.clearNotes.actionButton') }}
					</q-btn>

					<q-btn
						flat
						class="drawerButton"
						:aria-label="$t('titleBar.share')"
						@click="share"
					>
						{{ $t('titleBar.share') }}
					</q-btn>

					<q-btn
						flat
						class="drawerButton"
						:aria-label="$t('titleBar.insert')"
						@click="insert"
					>
						{{ $t('titleBar.insert') }}
					</q-btn>
				</div>
			</div>
			<gitlab-ribbon />
		</q-drawer>

		<q-page-sticky
			v-show="!$q.platform.is.desktop"
			position="bottom-right"
			:offset="[18, 18]"
			class="z-top"
		>
			<q-btn
				:color="repeat ? 'secondary' : 'white'"
				:text-color="repeat ? 'white' : 'black'"
				:icon="playing ? mdiStop : mdiPlay"
				fab
				:aria-label="$t('actions.play')"
				@click="playing ? pause() : play()"
				@contextmenu.prevent="repeat = !repeat"
			/>
		</q-page-sticky>
		<div
			v-if="sections.length == 0"
			class="justify-center row q-ma-lg"
		>
			<q-banner
				inline-actions
				class="text-white bg-red col-xs-10 col-md-8"
			>
				{{ $t('emptyBoard') }}
				<template v-slot:avatar>
					<q-icon
						:name="mdiAlert"
						color="white"
						size="md"
					/>
				</template>
				<template v-slot:action>
					<q-btn
						flat
						color="white"
						:icon="mdiPlus"
						text-color="white"
						:aria-label="$t('actions.section.add')"
						@click="addSection(true)"
					/>
				</template>
			</q-banner>
		</div>

		<panZoom
			:options="{ zoomDoubleClickSpeed: 1, maxZoom: 1, minZoom: 0.60, onTouch: () => false , filterKey: () => true}"
			selector="#panzoom"
			@init="panzoomInstance = $event"
		>
			<div
				id="panzoom"
				class="justify-start column q-ma-lg"
				style="padding-top: 70px"
			>
				<draggable
					v-model="sections"
					handle=".moveSections"
					@start="panzoomInstance.pause()"
					@end="panzoomInstance.resume()"
				>
					<song-section
						v-for="(section, index) in sections"
						:key="section.id"
						ref="section"
						v-model="sections[index]"
						:repeat="repeat"
						@playing="playingAll ? null : playing = true"
						@pause="playingAll ? pause(true) : pause(false)"
						@pauseRepeat="playingAll ? null : pause(false)"
						@delete="sections.splice(index, 1)"
						@duplicate="duplicateSection"
					/>
				</draggable>
			</div>
		</panZoom>
	</q-page>
</template>

<script>
import { mapState } from "vuex";
import { mdiPlay, mdiStop, mdiRepeat, mdiPlus, mdiAlert } from "@quasar/extras/mdi-v5";
import GitlabRibbon from "../components/GitlabRibbon";
import SongSection from "../components/SongSection";
import draggable from "vuedraggable";
import { copyToClipboard, extend } from "quasar";


export default {
	name: "Partiture",
	components: {
		GitlabRibbon,
		SongSection,
		draggable
	},
	data() {
		return {
			instrumentsSoundsList: [],
			sections: [],
			repeat: true,
			playing: false,
			playingAll: false,
			test: true
		};
	},
	computed: {
		...mapState([
			"languages"
		]),
		panzoomInstance: {
			get() {
				return this.$store.state.partiture.panzoomInstance;
			},
			set(value) {
				this.$store.dispatch("partiture/setPanzoomInstance", value);
			}
		},
		bpmActual: {
			get() {
				return this.$store.state.partiture.bpmActual;
			},
			set(value) {
				this.$store.dispatch("partiture/updateBPM", value);
			}
		},
		showNotes: {
			get() {
				return this.$store.state.partiture.showNotes;
			},
			set(value) {
				this.$store.dispatch("partiture/updateShowNotes", value);
			}
		},
		locale: {
			get() {
				return this.$store.state.locale;
			},
			set(value) {
				this.$i18n.locale = value.locale;
				this.$q.cookies.set("locale", value.locale);
				this.$store.dispatch("updateLocate", value);
			}
		},
		showDrawer: {
			get() {
				return this.$store.state.showDrawer;
			},
			set(value) {
				this.$store.dispatch("updateDrawer", value);
			}
		}
	},
	created() {
		this.mdiPlay = mdiPlay;
		this.mdiStop = mdiStop;
		this.mdiRepeat = mdiRepeat;
		this.mdiPlus = mdiPlus;
		this.mdiAlert = mdiAlert;

		if (this.$route.query.share != null) {
			let importObject = JSON.parse(atob(this.$route.query.share));

			this.bpmActual = importObject.bpm;

			// Compatibility functions
			if (importObject.instruments) {
				importObject.instruments.forEach(element => {
					if (element.vol == null) {
						element.vol = 1;
					}
				});

				importObject.sections = [{
					id: 1,
					name: "Sección 1",
					instruments: importObject.instruments,
					beat: {
						name: "4/4",
						beatsPerBar: 4,
						numOfGroups: 4
					}
				}];
			}
			if (importObject.sections) {
				if (importObject.sections[0].id == undefined) {
					importObject.sections.forEach((section, index) => section.id = index);
				}
				if (importObject.sections[0].beat == undefined) {
					importObject.sections.forEach(section => section.beat = {
						name: "4/4",
						beatsPerBar: 4,
						numOfGroups: 4
					});
				}
				if (importObject.sections[0].hide == undefined) {
					importObject.sections.forEach(section => section.hide = false);
				}
			}

			this.sections = importObject.sections;
		} else {
			this.addSection(true);

		}

	},
	methods: {
		duplicateSection(copiedSection) {
			let section = extend(true, {}, copiedSection); // For copy
			let id = 1;

			this.sections.forEach(section => section.id >= id ? id = section.id + 1 : null);

			section.id = id;

			// let temp = [];
			// section.instruments.forEach(instrument => {
			// 	temp.push(Array.from(instrument.notes));
			// 	instrument.notes = [];
			// });

			// section.instruments.forEach((instrument, index) => {
			// 	instrument.notes = temp[index];
			// });


			this.sections.push(section);
		},
		addSection(initInstrument) {
			let id = 1;
			let beat = {
				name: "4/4", //TODO utilizar la anterior seccion
				beatsPerBar: 4,
				numOfGroups: 4
			};

			this.sections.forEach(section => section.id >= id ? id = section.id + 1 : null);

			if (this.sections.length != 0) {
				beat = this.sections[this.sections.length - 1].beat;
			}

			let section = {
				id,
				name: `${this.$t("standardSection")} ${this.sections.length + 1}`,
				instruments: [],
				beat
			};

			if (initInstrument) {
				section.instruments.push({
					type: 1,
					alias: "Caixa",
					lines: 1,
					vol: 1,
					notes: []
				});
			}

			this.sections.push(section);
		},
		play() {
			this.playingAll = true;
			this.playing = true;
			let accTime = 0;
			for (let index = 0; index < this.$refs.section.length; index++) {
				let playingLength = this.$refs.section[index].getPlayingLength();
				accTime += playingLength;

				let playTime = this.$refs.section.slice(0, index).reduce((acc, section) => acc + section.getPlayingLength(), 0);

				this.instrumentsSoundsList.push(setTimeout(() => {
					this.$refs.section[index].play(false);
				}, playTime));

				if (index + 1 == this.$refs.section.length) {
					if (!this.repeat) {
						this.instrumentsSoundsList.push(
							setTimeout(() => {
								this.instrumentsSoundsList = [];
								this.playingAll = false;
								this.playing = false;

							}, accTime));
					} else {
						this.instrumentsSoundsList.push(
							setTimeout(() => {
								this.play();
							}, accTime)
						);
					}
				}
			}
		},
		pause(fullPause = true) {
			this.playingAll = false;
			this.playing = false;

			if (fullPause) {
				this.instrumentsSoundsList.forEach(instrument => clearTimeout(instrument));

				this.instrumentsSoundsList = [];

				for (let index = 0; index < this.$refs.section.length; index++) {
					this.$refs.section[index].pause();
				}
			}
		},
		clearNotes() {
			for (let index = 0; index < this.$refs.section.length; index++) {
				this.$refs.section[index].clearNotes();

			}
		},
		async share(notify = true) {
			let exportObject = {
				bpm: this.bpmActual,
				sections: this.sections
			};

			history.pushState(
				null,
				"",
				this.$router.resolve({ name: "Partitures", query: { share: btoa(JSON.stringify(exportObject)) } }).href
			);

			if (notify) {
				await copyToClipboard(window.location.href);
				this.$q.notify(this.$t("copySuccess"));
			}
		},
		async insert() {
			this.share(false);

			let text = `<iframe src="${window.location.href}" height="300" width="900"></iframe>`;
			await copyToClipboard(text);
			this.$q.notify(this.$t("copySuccess"));
		}
	}
};
</script>

<style lang="scss">
body {
	overflow: hidden;
}
.drawerLayout {
	padding: 15px;
}

.drawerButton,
.drawerInput {
	width: 13.5em;
}

.dialogNewInstrument {
	width: 75%;
}

.drawerInput {
	margin: 0 auto;
}

.songSection:not(:last-child) {
	margin-bottom: 30px;
}

.songSection:last-child .separator {
	display: none;
}

:focus {
	outline: none;
}

#panzoom {
	min-height: 100vh !important;
}
</style>
