<template>
	<div class="column items-center justify-center full-height">
		<div class="row col-12">
			<q-input
				v-model="value.alias"
				:label="name"
				required
				:hint="$t('instrument.nameHint')"
				class="nameInput col-5"
				hide-hint
			/>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.addLine')"
				:icon="mdiPlus"
				@click="value.lines++"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.addLine') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.removeLine')"
				:icon="mdiMinus"
				:disable="value.lines == 1"
				@click="removeLine"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.removeLine') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center moveInstruments"
				round
				flat
				:aria-label="$t('actions.sort')"
				:icon="mdiSort"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.sort') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.deleteInstrument')"
				:icon="mdiDelete"
				@click="deleteInstrument"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.deleteInstrument') }}
				</q-tooltip>
			</q-btn>

			<q-knob
				v-model="volume"
				show-value
				font-size="16px"
				class="self-center"
				size="40px"
				:thickness="0.25"
				track-color="grey-3"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.changeVolume') }}
				</q-tooltip>
				<q-icon :name="mdiVolumeHigh" />
			</q-knob>
		</div>
		<div>
			<lineRow
				v-for="(line, index) in value.lines"
				:key="index"
				ref="row"
				v-model="value"
				:index-row="index"
				:beat="beat"
			/>
		</div>
	</div>
</template>

<script>
import { mdiPlus, mdiMinus, mdiSort, mdiDelete, mdiVolumeHigh } from "@quasar/extras/mdi-v5";
import LineRow from "./LineRow";
import { mapState } from "vuex";

export default {
	components: {
		LineRow
	},
	props: {
		value: {
			type: Object,
			required: true
		},
		beat: {
			type: Object,
			required: true
		}
	},
	computed: {
		name() {
			return this.$store.getters["partiture/getNameIntrument"](this.value.type);
		},
		volume: {
			get() {
				return this.value.vol * 100;

			},
			set(value) {
				value = value / 100;
				this.value.vol = value;
			}
		},
		...mapState({
			panzoomInstance: state => state.partiture.panzoomInstance
		})
	},
	created() {
		this.mdiPlus = mdiPlus;
		this.mdiMinus = mdiMinus;
		this.mdiSort = mdiSort;
		this.mdiDelete = mdiDelete;
		this.mdiVolumeHigh = mdiVolumeHigh;
	},
	methods: {
		removeLine() {
			this.value.notes.splice(this.value.notes.length - (this.beat.beatsPerBar * this.beat.numOfGroups));
			this.value.lines--;
		},
		deleteInstrument() {
			this.$swal({
				title: this.$t("instrument.deleteInstrument.title"),
				text: this.$t("instrument.deleteInstrument.text"),
				confirmButtonText: this.$t("instrument.deleteInstrument.okButton"),
				cancelButtonText: this.$t("instrument.deleteInstrument.cancelButton")
			}).then((result) => {
				if (result.value) {
					this.$emit("delete");
				}
			});
		}
	}
};
</script>

<style>
.nameInput {
	width: 8em;
}

.swal2-popup {
	font-family: "Roboto", sans-serif;
}

.volumeSlider {
	margin-top: 0.5em !important;
}
</style>
