<template>
	<div
		v-if="value.notes.length > indexRow * beat.beatsPerBar * beat.numOfGroups"
		class="items-center justify-center row wrap full-height lineRowContainer"
	>
		<div
			v-for="(group, indexGroup) in beat.numOfGroups"
			:key="indexGroup"
			class="lineRow"
			:class="'beat-' + beat.name.replace('/', '-')"
		>
			<line-box
				v-for="(box, indexBox) in beat.beatsPerBar"
				:key="indexBox"
				ref="box"
				v-model="value.notes[(indexRow * beat.beatsPerBar * beat.numOfGroups) + (beat.beatsPerBar * indexGroup) + indexBox]"
				:instrument-type="value.type"
				:index-group="indexGroup + (beat.numOfGroups * indexRow)"
				:index-box="indexBox"
			/>
		</div>
	</div>
</template>

<script>
import LineBox from "./LineBox";

export default {
	components: {
		LineBox
	},
	props: {
		value: {
			type: Object,
			required: true
		},
		beat: {
			type: Object,
			required: true
		},
		indexRow: {
			type: Number,
			required: true
		}
	},
	created() {
		if ((this.indexRow * (this.beat.numOfGroups * this.beat.beatsPerBar)) + (this.beat.numOfGroups * this.beat.beatsPerBar) > this.value.notes.length) {
			for (let index = 0; index < this.beat.beatsPerBar * this.beat.numOfGroups; index++) {
				this.value.notes.push(0);
			}
		}

	}
};
</script>

<style>
.containerBox:first-child .noteRow:first-child .minBox:first-child {
	border-top-left-radius: 6px;
}
.containerBox:first-child .noteRow:last-child .minBox:first-child {
	border-bottom-left-radius: 6px;
}

.containerBox:last-child .noteRow:first-child .minBox:last-child {
	border-top-right-radius: 6px;
}

.containerBox:last-child .noteRow:last-child .minBox:last-child {
	border-bottom-right-radius: 6px;
}

.lineBox:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.lineBox:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.lineRow {
	margin-left: 5px;
	text-align: center;
	position: relative;
}

.beat-6-8:nth-child(even) {
	margin-left: 0px;
}

.beat-6-8:nth-child(odd) .lineBox:last-child {
	border-radius: 0px;
}

.beat-6-8:nth-child(even) .lineBox:first-child {
	border-radius: 0px;
}
</style>
