<template>
	<div
		v-if="composed"
		class="containerBox"
		@contextmenu.prevent="changeDivision()"
	>
		<div class="multipleNotesBox">
			<div
				v-for="(a, indexRowNote) in rows"
				:key="indexRowNote"
				class="noteRow"
			>
				<div
					v-for="(b, indexNoteMultiple) in boxes[indexRowNote]"
					:key="indexNoteMultiple"
					:class="[boxes[indexRowNote] == 1 ? 'minBoxLarge' : '', light == (indexRowNote * boxes[0]) + indexNoteMultiple ? 'lightLineBox' : '', light > 1 && (indexRowNote * boxes[0]) + indexNoteMultiple <= 1 && boxes[1] == 1 ? 'lightTopLineBox': '', light > 1 && light - 2 == indexNoteMultiple && indexRowNote == 0 && boxes[1] == 2 ? 'lightTopLineBox': '']"
					class="minBox"
					@click="updateMultipleNote((indexRowNote * boxes[0]) + indexNoteMultiple)"
				>
					<q-icon
						v-if="iconMultiple((indexRowNote * boxes[0]) + indexNoteMultiple) != ''"
						class="noteIcon"
						size="20px"
						:color="light == (indexRowNote * boxes[0]) + indexNoteMultiple ? 'red' : 'grey-8'"
						:name="iconMultiple((indexRowNote * boxes[0]) + indexNoteMultiple)"
					/>
					<span
						v-if="showNotes && indexRowNote == 0 && ( boxes[0] == 2 ? indexNoteMultiple == 1: indexNoteMultiple == 0)"
						class="noteNumber"
						:style="{ left: (boxes[0] == 2 ? -9 : 7) - (((indexRowNote + 1).toString().length - 1) * 8) + 'px' }"
					>{{ indexBox == 0 ? indexGroup + 1 : groupNumbers[indexBox - 1] }}</span>
				</div>
			</div>
		</div>
	</div>
	<div
		v-else
		class="lineBox"
		:class="{ lightLineBox: light}"
		@click="updateNote"
		@contextmenu.prevent="changeDivision()"
	>
		<q-icon
			class="noteIcon"
			size="xl"
			:color="light ? 'red' : 'grey-8'"
			:name="icon"
		/>
		<span
			v-if="showNotes"
			class="noteNumber"
			:style="{ left: -10 - (((indexGroup + 1).toString().length - 1) * 8) + 'px' }"
		>{{ indexBox == 0 ? indexGroup + 1 : groupNumbers[indexBox - 1] }}</span>
	</div>
</template>

<script>
import { mdiCookie, mdiClose, mdiMinus, mdiCheckboxBlankCircle, mdiCircleOutline } from "@quasar/extras/mdi-v5";
import { mapGetters, mapState } from "vuex";

export default {
	props: {
		value: {
			type: [Number, Array],
			required: true
		},
		instrumentType: {
			type: Number,
			required: true
		},
		indexBox: {
			type: Number,
			required: true
		},
		indexGroup: {
			type: Number,
			required: true
		}
	},
	data() {
		return {
			rows: 2,
			light: null,
			groupNumbers: [
				"E",
				"Y",
				"A"
			]
		};
	},
	computed: {
		...mapGetters("partiture", [
			"getIconNoteInstrument",
			"getPossibleNotes"
		]),
		...mapState({
			showNotes: state => state.partiture.showNotes
		}),
		notes() {
			return this.getPossibleNotes(this.instrumentType);
		},
		icon() {
			if (!Array.isArray(this.value)) {
				return this[this.getIconNoteInstrument(this.instrumentType, this.value)];
			} else {
				return "";
			}

		},
		composed() {
			return this.value.length > 1;
		},
		boxes() {
			return [Math.ceil(this.value.length / 2), Math.floor(this.value.length / 2)];
		}
	},
	created() {
		this.mdiCookie = mdiCookie;
		this.mdiClose = mdiClose;
		this.mdiMinus = mdiMinus;
		this.mdiCheckboxBlankCircle = mdiCheckboxBlankCircle;
		this.mdiCircleOutline = mdiCircleOutline;
	},
	methods: {
		updateNote() {
			let newNote = this.value + 1;

			if (newNote > this.getPossibleNotes(this.instrumentType).length - 1) {
				newNote = 0;
			}

			this.$emit("input", newNote);
		},
		async updateMultipleNote(indexNoteMultiple) {
			let newMultipleNote = this.value[indexNoteMultiple] + 1;

			if (newMultipleNote > this.getPossibleNotes(this.instrumentType).length - 1) {
				newMultipleNote = 0;
			}

			let newNote = this.value;
			newNote[indexNoteMultiple] = newMultipleNote;

			this.$emit("input", newNote);
			this.$forceUpdate();
		},
		changeDivision() {
			let newNote = this.value;

			if (this.composed) {
				if (newNote.length < 4) {
					newNote.push(0);

				} else {
					newNote = 0;

				}

			} else {
				newNote = [this.value, 0];

			}
			this.$emit("input", newNote);
		},
		iconMultiple(index) {
			return this[this.getIconNoteInstrument(this.instrumentType, this.value[index])];
		},
		changeColor(time, subNote = true) {
			this.light = subNote;

			setTimeout(() => {
				this.light = null;
			}, time);
		}
	}
};
</script>

<style>
.lineBox {
	border: 2px solid #706868;
	width: 50px;
	height: 50px;
	display: inline-flex;
	margin-left: -2px;
	z-index: 5;
}

.lightLineBox {
	border-color: red !important;
}

.lineBox:first-child,
.containerBox:first-child .noteRow:first-child .minBox:first-child {
	background: hsl(0, 0%, 50%, 25%);
}

.lineRow:first-of-type .lineBox:first-child,
.lineRow:first-of-type
	.containerBox:first-child
	.noteRow:first-child
	.minBox:first-child {
	background: hsl(0, 0%, 50%, 75%);
}

.lightLineBox + .lineBox,
.lightLineBox + .containerBox .minBox:first-child {
	border-left-color: red !important;
}

.lightTopLineBox {
	border-bottom-color: red !important;
}

.minBox {
	border: 2px solid #706868;
	width: 25.5px;
	height: 25.5px;
	display: table-cell;
	margin-left: -2px;
}

.minBoxLarge {
	width: 50px;
	height: 25.5px;
	margin-left: -2px;
}

.containerBox {
	width: 50px;
	height: 49px;
	margin-left: -2px;
	position: relative;
	top: -1.7em;
	right: -0.45em;
	display: inline-block;
	margin-top: -1px;
}

.multipleNotesBox {
	display: table;
	position: relative;
	top: 1.7em;
	right: 0.39em;
}

.noteRow:first-child .minBox:first-child {
	border-bottom-width: 1px;
	border-right-width: 1px;
	position: relative;
	top: 0.1em;
}

.noteRow:first-child .minBoxLarge:first-child {
	border-right-width: 2px;
}

.noteRow:first-child .minBox:last-child {
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.noteRow:first-child .minBoxLarge:last-child {
	border-left-width: 2px;
}

.noteRow:last-child .minBox:first-child {
	border-top-width: 0px;
	border-right-width: 1px;
	position: relative;
	top: -0.04em;
}

.noteRow:last-child .minBoxLarge:first-child {
	border-right-width: 2px;
}

.noteRow:last-child .minBox:last-child {
	border-top-width: 0px;
	border-left-width: 1px;
	position: relative;
	top: -0.04em;
}

.noteRow:last-child .minBoxLarge:last-child {
	border-left-width: 2px;
}

.minBox:first-child {
	position: relative;
	right: 0.06em;
}

.minBox:last-child {
	position: relative;
	top: 0.1em;
	right: 0.06em;
}

.noteIcon {
	font-size: 2.6em;
	/* position: absolute; */
	padding-left: 0.05em;
}

.lineBox .noteIcon {
	top: 0.03em;
}

.minBox .noteIcon {
	right: 0em;
}

.minBoxLarge .noteIcon {
	top: 0.07em;
	/* right: 0.6em; */
}

.noteNumber {
	font-weight: 700;
	width: 0%;
	text-align: end;
	position: relative;
	/* left: -10px; */
	color: hsl(0, 0%, 0%, 20%);
}

.minBox:not(.minBoxLarge) .noteNumber {
	display: inline-block;
}
</style>
