<template>
	<div class="songSection items-center column self-start">
		<div class="self-start col-12 row">
			<q-input
				v-model="value.name"
				:label="$t('section.nameHint')"
				required
				class="nameInput"
				hide-hint
			/>

			<q-btn
				class="self-center"
				round
				color="secondary"
				:disabled="value.instruments.length == 0"
				:aria-label="$t('actions.play')"
				:icon="playing ? mdiStop : mdiPlay"
				@click="playing ? pause() : play()"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.play') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('titleBar.addInstrument.openButton')"
				:icon="mdiMusicNotePlus"
			>
				<q-tooltip anchor="top middle">
					{{ $t('titleBar.addInstrument.openButton') }}
				</q-tooltip>
				<q-menu
					anchor="bottom left"
					self="top left"
					transition-show="jump-down"
					transition-hide="jump-up"
				>
					<div class="row q-pa-md q-gutter-sm">
						<q-btn
							v-for="(instrument, index) in listInstrument"
							:key="index"
							v-close-popup
							color="secondary"
							:aria-label="'Add ' + instrument.name"
							@click="addNewInstrument(index)"
						>
							{{ instrument.name }}
						</q-btn>
					</div>
				</q-menu>
			</q-btn>


			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.changeCompas')"
				:icon="mdiMetronome"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.changeCompas') }}
				</q-tooltip>
				<q-menu
					anchor="bottom left"
					self="top left"
					transition-show="jump-down"
					transition-hide="jump-up"
				>
					<div class="row q-pa-md q-gutter-sm">
						<q-btn
							v-for="(beat, index) in beats"
							:key="index"
							v-close-popup
							color="secondary"
							:aria-label="'Change beat to ' + beat.name"
							:disabled="value.beat.name == beat.name"
							@click="askBeat(beat)"
						>
							{{ beat.name }}
						</q-btn>
					</div>
				</q-menu>
			</q-btn>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.addLineAll')"
				:icon="mdiPlaylistPlus"
				@click="addLineAllInstruments"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.addLineAll') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center moveSections"
				round
				flat
				:aria-label="$t('actions.sort')"
				:icon="mdiSort"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.sort') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.section.duplicate')"
				:icon="mdiContentCopy"
				@click="$emit('duplicate', {...value})"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.section.duplicate') }}
				</q-tooltip>
			</q-btn>


			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.section.hide')"
				:icon="value.hide ? mdiEye : mdiEyeOff"
				@click="value.hide = !value.hide; $forceUpdate()"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.section.hide') }}
				</q-tooltip>
			</q-btn>

			<q-btn
				class="self-center"
				round
				flat
				:aria-label="$t('actions.section.hide')"
				:icon="mdiDelete"
				@click="deleteSection"
			>
				<q-tooltip anchor="top middle">
					{{ $t('actions.section.delete') }}
				</q-tooltip>
			</q-btn>
		</div>
		<draggable
			v-show="!value.hide"
			v-model="value.instruments"
			handle=".moveInstruments"
			@start="panzoomInstance.pause()"
			@end="panzoomInstance.resume()"
		>
			<instrument
				v-for="(instrument, index) in value.instruments"
				:key="index"
				ref="instrument"
				v-model="value.instruments[index]"
				:beat="value.beat"
				@delete="value.instruments.splice(index, 1)"
			/>
		</draggable>
		<hr class="separator">
	</div>
</template>

<script>
import { mdiPlay, mdiStop, mdiMusicNotePlus, mdiMetronome, mdiPlaylistPlus, mdiSort, mdiContentCopy, mdiEye, mdiEyeOff, mdiDelete } from "@quasar/extras/mdi-v5";
import { mapState, mapGetters } from "vuex";
import draggable from "vuedraggable";


export default {
	components: {
		Instrument: () => import("components/Instrument"),
		draggable
	},
	props: {
		value: {
			type: Object,
			required: true
		},
		repeat: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			instrumentsSoundsList: [],
			playing: false,
			beats: [
				{
					name: "4/4",
					beatsPerBar: 4,
					numOfGroups: 4
				},
				{
					name: "6/8",
					beatsPerBar: 3,
					numOfGroups: 2
				}
			]
		};
	},
	computed: {
		...mapState({
			bpmActual: state => state.partiture.bpmActual,
			listInstrument: state => state.partiture.listInstrument,
			panzoomInstance: state => state.partiture.panzoomInstance
		}),
		...mapGetters("partiture", [
			"getPossibleNotes"
		])
	},
	created() {
		this.mdiPlay = mdiPlay;
		this.mdiStop = mdiStop;
		this.mdiMusicNotePlus = mdiMusicNotePlus;
		this.mdiMetronome = mdiMetronome;
		this.mdiPlaylistPlus = mdiPlaylistPlus;
		this.mdiSort = mdiSort;
		this.mdiContentCopy = mdiContentCopy;
		this.mdiEye = mdiEye;
		this.mdiEyeOff = mdiEyeOff;
		this.mdiDelete = mdiDelete;
	},
	methods: {
		askBeat: async function (newValue) {
			let result = await this.$swal({
				title: this.$t("titleBar.changeBeat.title"),
				text: this.$t("titleBar.changeBeat.text"),
				confirmButtonText: this.$t("titleBar.changeBeat.okButton"),
				cancelButtonText: this.$t("titleBar.changeBeat.cancelButton")
			});

			if (result.value) {
				this.value.beat = newValue;

				this.value.instruments.forEach(async instrument => {
					await (instrument.notes = []);
					let temp = [];

					for (let index = 0; index < this.value.beat.beatsPerBar * this.value.beat.numOfGroups; index++) {
						temp.push(0);
					}

					instrument.notes = temp;
					instrument.lines = 1;
				});
			}
		},
		async deleteSection() {
			let result = await this.$swal({
				title: this.$t("section.deleteSection.title"),
				text: this.$t("section.deleteSection.text"),
				confirmButtonText: this.$t("section.deleteSection.okButton"),
				cancelButtonText: this.$t("section.deleteSection.cancelButton")
			});

			if (result.value) {
				this.$emit("delete");
			}
		},
		addNewInstrument: function (newInstrumentIndex) {
			this.value.instruments.push({
				type: newInstrumentIndex,
				alias: this.listInstrument[newInstrumentIndex].name,
				lines: 1,
				vol: 1,
				notes: []
			});
		},
		async clearNotes() {
			let result = await this.$swal({
				title: this.$t("titleBar.clearNotes.title"),
				text: this.$t("titleBar.clearNotes.text"),
				confirmButtonText: this.$t("titleBar.clearNotes.okButton"),
				cancelButtonText: this.$t("titleBar.clearNotes.cancelButton")
			});

			if (result.value) {
				this.value.instruments.forEach(instrument => {
					instrument.notes = Array.from(Array(instrument.notes.length), () => 0);
				});
			}

		},
		getMaxNote() {
			let maxNote = 0;

			for (let indexInstrument = 0; indexInstrument < this.value.instruments.length; indexInstrument++) {
				let instrument = this.value.instruments[indexInstrument];

				if (instrument.notes.length > maxNote) {
					maxNote = instrument.notes.length;
				}
			}
			return maxNote;
		},
		getPlayingLength() {
			return this.getTimeOfNote() * this.getMaxNote();
		},
		getTimeOfNote() {
			return 60000 / this.bpmActual / this.value.beat.numOfGroups;
		},
		play(internalPlay = true) {
			this.playing = true;
			this.$emit("playing");

			let time = this.getTimeOfNote();
			for (let indexInstrument = 0; indexInstrument < this.value.instruments.length; indexInstrument++) {
				let instrument = this.value.instruments[indexInstrument];
				let howls = this.getPossibleNotes(instrument.type, indexInstrument);
				let notesPerLine = instrument.notes.length / instrument.lines;

				for (let indexNote = 0; indexNote < instrument.notes.length; indexNote++) {
					let actualLine = Math.floor(indexNote / notesPerLine);
					let noteInLine = indexNote - (actualLine * notesPerLine);
					let boxElement = this.$refs.instrument[indexInstrument].$refs.row[actualLine].$refs.box[noteInLine];

					// Nota con subidivisiones
					if (Array.isArray(instrument.notes[indexNote])) {
						for (let indexSubNote = 0; indexSubNote < instrument.notes[indexNote].length; indexSubNote++) {

							let noteTime = time * (indexNote + ((1 / instrument.notes[indexNote].length) * indexSubNote));
							let sound = howls[instrument.notes[indexNote][indexSubNote]].howls;

							this.playNote(noteTime, sound, instrument.vol, boxElement, time, indexSubNote);
						}

					} else { // Nota sin subdivision
						let noteTime = time * indexNote;
						let sound = howls[instrument.notes[indexNote]].howls;

						this.playNote(noteTime, sound, instrument.vol, boxElement, time);
					}
				}
			}
			if (internalPlay && this.repeat) {
				this.instrumentsSoundsList.push(
					setTimeout(() => {
						this.play();
					}, time * this.getMaxNote())
				);
			} else {
				this.instrumentsSoundsList.push(
					setTimeout(() => {
						this.instrumentsSoundsList = [];
						this.playing = false;
						this.$emit("pauseRepeat");

					}, time * this.getMaxNote() - 10)
				);
			}
		},
		playNote(time, sound, volume, element, lightTime, subNote = undefined) {
			this.instrumentsSoundsList.push(setTimeout(() => {
				if (sound != null) {
					sound.volume(volume);
					sound.play();
				}

				element.changeColor(lightTime, subNote);
			}, time));
		},
		pause() {
			this.instrumentsSoundsList.forEach(instrument => clearTimeout(instrument));

			this.instrumentsSoundsList = [];
			this.playing = false;
			this.$emit("pause");

		},
		addLineAllInstruments() {
			this.value.instruments.forEach(instrument => instrument.lines++);
		}

	}
};
</script>

<style>
.separator {
	width: 100%;
	margin-top: 30px;
}
</style>
