<template>
	<v-toolbar
		app
		fixed
		clipped-left
		color="primary"
	>
		<v-toolbar-side-icon
			:aria-label="$t('titleBar.showDrawer')"
			@click="changeDrawer"
		/>

		<v-img
			:src="require('@/assets/logo.png')"
			class="iconToolbar"
			@click="openNewTab()"
		/>

		<v-toolbar-title class="headline text-uppercase titleToolbar">
			<span class="font-weight-light">Mestre</span>
			JS
		</v-toolbar-title>

		<v-spacer />
	</v-toolbar>
</template>

<script>
export default {
	data: () => ({
	}),
	methods: {
		changeDrawer() {
			this.$emit("input");
		},
		openNewTab() {
			window.open(this.$route.fullPath, "_blank");
		}
	}
};
</script>

<style>
.titleToolbar {
	margin-left: 0px !important;
}
.iconToolbar {
	max-width: 5em;
	cursor: pointer;
}
</style>
