<template>
	<div id="q-app">
		<router-view />
	</div>
</template>

<script >
export default {
	name: "App",
	created() {
		let locale = this.$q.cookies.get("locale") || window.navigator.language;

		this.$i18n.locale = locale;
		this.$q.cookies.set("locale", locale);

	},
	mounted() {
		// Redirect without #
		if (!window.location.href.match("/#/")) {
			window.location = window.location.origin + "/" + window.location.hash + window.location.search;
		}
	}
};
</script>

<style lang="scss">
body {
	background: #fafafa;
}
</style>
