<!DOCTYPE html>
<html>

<head>
	<title><%= htmlWebpackPlugin.options.productName %></title>
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.productName %>" />

	<meta charset="utf-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.productDescription %>" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

	<link rel="icon" type="image/png" sizes="128x128" href="statics/icons/favicon-128x128.png">
	<link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
	<link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
	<!-- iPhone XR -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-828x1792.png">
	<!-- iPhone X, XS -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
		href="statics/icons/apple-launch-1125x2436.png">
	<!-- iPhone XS Max -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
		href="statics/icons/apple-launch-1242x2688.png">
	<!-- iPhone 8, 7, 6s, 6 -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-750x1334.png">
	<!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
		href="statics/icons/apple-launch-1242x2208.png">
	<!-- iPhone 5 -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-640x1136.png">
	<!-- iPad Mini, Air, 9.7" -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-1536x2048.png">
	<!-- iPad Pro 10.5" -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-1668x2224.png">
	<!-- iPad Pro 11" -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-1668x2388.png">
	<!-- iPad Pro 12.9" -->
	<link rel="apple-touch-startup-image"
		media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
		href="statics/icons/apple-launch-2048x2732.png">

</head>

<body>
	<noscript>
		<strong>We're sorry but MestreJs doesn't work properly without JavaScript enabled. Please enable it to
			continue.</strong>
	</noscript>
	<!-- DO NOT touch the following DIV -->
	<div id="q-app"></div>
</body>

</html>
