<template>
	<q-layout view="hHh LpR fFf">
		<q-header
			reveal
			elevated
			class="bg-primary text-white"
		>
			<q-toolbar>
				<q-btn
					dense
					flat
					round
					:icon="mdiMenu"
					text-color="black"
					@click="showDrawer = !showDrawer"
				/>

				<q-toolbar-title class="text-uppercase h1 text-black">
					<router-link :to="{ name: 'Partitures'}">
						<q-avatar>
							<img
								alt="MestreJS logo"
								src="~assets/logo.svg"
								square
							>
						</q-avatar>
					</router-link>
					<span class="text-weight-light">Mestre</span>
					<span class="text-weight-medium">JS</span>
				</q-toolbar-title>
			</q-toolbar>
		</q-header>

		<q-page-container>
			<router-view />
		</q-page-container>
	</q-layout>
</template>

<script>
import { mdiMenu } from "@quasar/extras/mdi-v5";

export default {
	name: "MainLayout",
	computed: {
		showDrawer: {
			get() {
				return this.$store.state.showDrawer;
			},
			set(value) {
				this.$store.dispatch("updateDrawer", value);
			}
		}
	},
	created() {
		this.mdiMenu = mdiMenu;
	}
};
</script>
